{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Make{% endblock  %}

{% block content %}

<h1 class="title pt-5">Car Makes</h1>
<div class="gallery">
  {% for make in makes %}
  {{artist}}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{make.image}}" alt="{{make.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{make.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No makes Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}